<div id="nav">
    <ul id="navUl">
        <li class="navIcon">首页 ></li>
        <li class="navIcon">小区监控 ></li>
        <li class="navIcon">武林广场站站台及隧道区间 ></li>
        <li>FM详情</li>
    </ul>
</div>
<div id="spInfo">
    <p class="titleHead">FM详情列表</p>
    <table id="trendTable">
        <tr class="tHead">
            <td class="tdPadding">告警ID</td>
            <td>告警级别</td>
            <td>告警名称</td>
            <td>网元类型</td>
            <td>告警源</td>
            <td>MO对象</td>
            <td>定位信息</td>
            <td>发生时间(NT)</td>
            <td>消除时间(NT)</td>
            <td>BBU名称</td>
        </tr>
        <tbody class="tBody" id="fmListGrid">
        <tr>
            <td>1012753</td>
            <td><span class="eTdIcon"></span></td>
            <td>用户面承载链路故障...</td>
            <td>BTS3900 LTE</td>
            <td>h813021后周LY信...</td>
            <td>h813021后周LY信...</td>
            <td>用户面本端对象标识=0,...</td>
            <td>2015/08/04 16:33:28</td>
            <td>2015/08/04 16:33:28</td>
            <td>h813021后周L...</td>
        </tr>
        <tr>
            <td>1012753</td>
            <td><span class="wTdIcon"></span></td>
            <td>用户面承载链路故障...</td>
            <td>BTS3900 LTE</td>
            <td>h813021后周LY信...</td>
            <td>h813021后周LY信...</td>
            <td>用户面本端对象标识=0,...</td>
            <td>2015/08/04 16:33:28</td>
            <td>2015/08/04 16:33:28</td>
            <td>h813021后周L...</td>
        </tr>
        <tr>
            <td>1012753</td>
            <td><span class="eTdIcon"></span></td>
            <td>用户面承载链路故障...</td>
            <td>BTS3900 LTE</td>
            <td>h813021后周LY信...</td>
            <td>h813021后周LY信...</td>
            <td>用户面本端对象标识=0,...</td>
            <td>2015/08/04 16:33:28</td>
            <td>2015/08/04 16:33:28</td>
            <td>h813021后周L...</td>
        </tr>
        <tr>
            <td>1012753</td>
            <td><span class="eTdIcon"></span></td>
            <td>用户面承载链路故障...</td>
            <td>BTS3900 LTE</td>
            <td>h813021后周LY信...</td>
            <td>h813021后周LY信...</td>
            <td>用户面本端对象标识=0,...</td>
            <td>2015/08/04 16:33:28</td>
            <td>2015/08/04 16:33:28</td>
            <td>h813021后周L...</td>
        </tr>
        <tr>
            <td>1012753</td>
            <td><span class="eTdIcon"></span></td>
            <td>用户面承载链路故障...</td>
            <td>BTS3900 LTE</td>
            <td>h813021后周LY信...</td>
            <td>h813021后周LY信...</td>
            <td>用户面本端对象标识=0,...</td>
            <td>2015/08/04 16:33:28</td>
            <td>2015/08/04 16:33:28</td>
            <td>h813021后周L...</td>
        </tr>
        <tr>
            <td>1012753</td>
            <td><span class="eTdIcon"></span></td>
            <td>用户面承载链路故障...</td>
            <td>BTS3900 LTE</td>
            <td>h813021后周LY信...</td>
            <td>h813021后周LY信...</td>
            <td>用户面本端对象标识=0,...</td>
            <td>2015/08/04 16:33:28</td>
            <td>2015/08/04 16:33:28</td>
            <td>h813021后周L...</td>
        </tr>
        <tr>
            <td>1012753</td>
            <td><span class="eTdIcon"></span></td>
            <td>用户面承载链路故障...</td>
            <td>BTS3900 LTE</td>
            <td>h813021后周LY信...</td>
            <td>h813021后周LY信...</td>
            <td>用户面本端对象标识=0,...</td>
            <td>2015/08/04 16:33:28</td>
            <td>2015/08/04 16:33:28</td>
            <td>h813021后周L...</td>
        </tr>
        <tr>
            <td>1012753</td>
            <td><span class="eTdIcon"></span></td>
            <td>用户面承载链路故障...</td>
            <td>BTS3900 LTE</td>
            <td>h813021后周LY信...</td>
            <td>h813021后周LY信...</td>
            <td>用户面本端对象标识=0,...</td>
            <td>2015/08/04 16:33:28</td>
            <td>2015/08/04 16:33:28</td>
            <td>h813021后周L...</td>
        </tr>
        <tr>
            <td>1012753</td>
            <td><span class="eTdIcon"></span></td>
            <td>用户面承载链路故障...</td>
            <td>BTS3900 LTE</td>
            <td>h813021后周LY信...</td>
            <td>h813021后周LY信...</td>
            <td>用户面本端对象标识=0,...</td>
            <td>2015/08/04 16:33:28</td>
            <td>2015/08/04 16:33:28</td>
            <td>h813021后周L...</td>
        </tr>
        <tr>
            <td>1012753</td>
            <td><span class="eTdIcon"></span></td>
            <td>用户面承载链路故障...</td>
            <td>BTS3900 LTE</td>
            <td>h813021后周LY信...</td>
            <td>h813021后周LY信...</td>
            <td>用户面本端对象标识=0,...</td>
            <td>2015/08/04 16:33:28</td>
            <td>2015/08/04 16:33:28</td>
            <td>h813021后周L...</td>
        </tr>
        </tbody>
    </table>
    <div id="tableFooter">
        <div id="tFooterLeft">
            <div class="select">
                <div class="selOption">10行</div>
                <div class="selOption">50行</div>
                <div class="selOption">100行</div>
            </div>
            <div class="totalPage">共1230条</div>
        </div>
        <div id="tFooterRight">
            <span class="pageButton" id="prevPage"></span>
            <span class="pageButton pageActive">1</span>
            <!--<span class="pageButton">2</span>
            <span class="pageButton">3</span>
            <span class="pageButton">4</span>
            <span class="pageButton">5</span>
            <span class="pageButton">...</span>
            <span class="pageButton">16</span>-->
            <span class="pageButton" id="nextPage"></span>
            <div class="goAnyPage">
                <span class="goText">跳转</span>
                <input id="pageText" type="text">
                <span id="goButton"></span>
            </div>
        </div>
    </div>
</div>