<div id="monitor" class="block">
    <div id="monitorNum"><span id="spmNum">0</span><span class="small">监控SP</span></div>
    <div id="serNum"><span id="spsNum">0</span><span class="small">个</span><span class="smallInfo">严重警告</span> </div>
    <div id="norNum"><span id="spnNum">0</span><span class="small">个</span><span class="smallInfo">普通警告</span> </div>
    <div id="refreshTime"><span id="refreshInfo">更新时间:<span id="refreshDate"></span>（每十五分钟刷新一次）</span><span id="handRefresh"></span></div>
</div>
<div id="spMonitor">
    <p class="spTitle">重点SP警告</p>
    <div id="spMoniLeft"></div>
    <div id="spMoniRight">
        <div class="spBlock" trHost="www.qq.com">
            <div class="spInfo">
                <span class="spImg"><img src="style/images/weixinIcon.png" /></span>
                <span class="spSite">www.qq.com</span>
            </div>
            <div class="spDetail">
                <div class="spDetailLeft">
                    <h4 class="spDetailTitle">事务级HTTP成功率(%)</h4>
                    <span class="spDetailPer wIcon">76.67%</span>
                    <ul class="spList">
                        <li><span class="spLiLeft">影响用户数</span><span class="spLiRight">2567</span></li>
                        <li><span class="spLiLeft">流量(T)</span><span class="spLiRight">76T</span></li>
                        <li><span class="spLiLeft">业务量(次)</span><span class="spLiRight">13789</span></li>
                        <li><span class="spLiLeft">历史警告次数</span><span class="spLiRight">9</span></li>
                    </ul>
                </div>
                <div class="spDetailRight">
                    <h4 class="spDetailTitle">Get响应时延</h4>
                    <span class="spDetailPer wIcon">1.8s</span>
                    <ul class="spList">
                        <li><span class="spLiLeft">影响用户数</span><span class="spLiRight">1423</span></li>
                        <li><span class="spLiLeft">流量(T)</span><span class="spLiRight">76T</span></li>
                        <li><span class="spLiLeft">业务量(次)</span><span class="spLiRight">13789</span></li>
                        <li><span class="spLiLeft">历史警告次数</span><span class="spLiRight">8</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="spBlock" trHost="www.sina.com">
            <div class="spInfo">
                <span class="spImg"><img src="style/images/ucIcon.png" /></span>
                <span class="spSite">www.sina.com</span>
            </div>
            <div class="spDetail">
                <div class="spDetailLeft">
                    <h4 class="spDetailTitle">事务级HTTP成功率(%)</h4>
                    <span class="spDetailPer eIcon">50.28%</span>
                    <ul class="spList">
                        <li><span class="spLiLeft">影响用户数</span><span class="spLiRight">5423</span></li>
                        <li><span class="spLiLeft">流量(T)</span><span class="spLiRight">69T</span></li>
                        <li><span class="spLiLeft">业务量(次)</span><span class="spLiRight">11406</span></li>
                        <li><span class="spLiLeft">历史警告次数</span><span class="spLiRight">14</span></li>
                    </ul>
                </div>
                <div class="spDetailRight">
                    <h4 class="spDetailTitle">Get响应时延</h4>
                    <span class="spDetailPer wIcon">1.5s</span>
                    <ul class="spList">
                        <li><span class="spLiLeft">影响用户数</span><span class="spLiRight">5622</span></li>
                        <li><span class="spLiLeft">流量(T)</span><span class="spLiRight">69T</span></li>
                        <li><span class="spLiLeft">业务量(次)</span><span class="spLiRight">11406</span></li>
                        <li><span class="spLiLeft">历史警告次数</span><span class="spLiRight">15</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="spBlock" trHost="www.baidu.com">
            <div class="spInfo">
                <span class="spImg"><img src="style/images/duIcon.png" /></span>
                <span class="spSite">www.baidu.com</span>
            </div>
            <div class="spDetail">
                <div class="spDetailLeft">
                    <h4 class="spDetailTitle">事务级HTTP成功率(%)</h4>
                    <span class="spDetailPer wIcon">70.23%</span>
                    <ul class="spList">
                        <li><span class="spLiLeft">影响用户数</span><span class="spLiRight">3421</span></li>
                        <li><span class="spLiLeft">流量(T)</span><span class="spLiRight">49T</span></li>
                        <li><span class="spLiLeft">业务量(次)</span><span class="spLiRight">19941</span></li>
                        <li><span class="spLiLeft">历史警告次数</span><span class="spLiRight">13</span></li>
                    </ul>
                </div>
                <div class="spDetailRight">
                    <h4 class="spDetailTitle">Get响应时延</h4>
                    <span class="spDetailPer wIcon">1.6s</span>
                    <ul class="spList">
                        <li><span class="spLiLeft">影响用户数</span><span class="spLiRight">2314</span></li>
                        <li><span class="spLiLeft">流量(T)</span><span class="spLiRight">49T</span></li>
                        <li><span class="spLiLeft">业务量(次)</span><span class="spLiRight">19941</span></li>
                        <li><span class="spLiLeft">历史警告次数</span><span class="spLiRight">11</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="spBlock" trHost="www.taobao.com">
            <div class="spInfo">
                <span class="spImg"><img src="style/images/tmallIcon.png" /></span>
                <span class="spSite">www.taobao.com</span>
            </div>
            <div class="spDetail">
                <div class="spDetailLeft">
                    <h4 class="spDetailTitle">事务级HTTP成功率(%)</h4>
                    <span class="spDetailPer eIcon">65.66%</span>
                    <ul class="spList">
                        <li><span class="spLiLeft">影响用户数</span><span class="spLiRight">3356</span></li>
                        <li><span class="spLiLeft">流量(T)</span><span class="spLiRight">98T</span></li>
                        <li><span class="spLiLeft">业务量(次)</span><span class="spLiRight">19284</span></li>
                        <li><span class="spLiLeft">历史警告次数</span><span class="spLiRight">17</span></li>
                    </ul>
                </div>
                <div class="spDetailRight">
                    <h4 class="spDetailTitle">Get响应时延</h4>
                    <span class="spDetailPer wIcon">1.5s</span>
                    <ul class="spList">
                        <li><span class="spLiLeft">影响用户数</span><span class="spLiRight">1897</span></li>
                        <li><span class="spLiLeft">流量(T)</span><span class="spLiRight">98T</span></li>
                        <li><span class="spLiLeft">业务量(次)</span><span class="spLiRight">18284</span></li>
                        <li><span class="spLiLeft">历史警告次数</span><span class="spLiRight">14</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="spInfo">
    <div id="selectBlock" class="none">
        <ul class="cellSelect">
            <li>全部告警SP</li>
            <li>事物级HTTP成功率</li>
        </ul>
        <div class="serchText">
            <input type="text" placeholder="输入SP,时间控指标">
        </div>
        <span class="serchBtn"></span>
    </div>
    <div class="qushiObj">
        <div id="trendBlock"></div>
        <a href="#cellGridShow?page=sp"></a>
    </div>
    <table id="trendTable">
        <tr class="tHead">
            <td class="tdPadding">序号</td>
            <td>Host</td>
            <td>事务级HTTP成功率(%)</td>
            <td>告警级别</td>
            <td>告警起始时间</td>
            <td>告警持续时长(H)</td>
            <td>影响用户数</td>
            <td>流量（GB）</td>
            <td>业务量（次）</td>
            <td>历史告警次数</td>
            <td class="tdPadding">操作</td>
        </tr>
        <tbody class="tBody" id="spTbody">
        <!--<tr>
            <td>1</td>
            <td>ai.m.taobao.com</td>
            <td><span class="eTd">68.45%</span></td>
            <td><span class="eTdIcon"></span></td>
            <td>2015.11.18  02:00:00</td>
            <td>3</td>
            <td>458</td>
            <td>2514</td>
            <td>2514</td>
            <td>198</td>
            <td><span class="analButton">分析</span></td>
        </tr>-->

        </tbody>
    </table>
    <div id="tableFooter">
        <div id="tFooterLeft">
            <div class="select">
                <div class="selOption">10行</div>
                <div class="selOption">50行</div>
                <div class="selOption">100行</div>
            </div>
            <div class="totalPage" id="cellTotalPage">共0条</div>
        </div>
        <div id="tFooterRight">
            <span class="pageButton" id="prevPage"></span>
            <span class="pageButton pageActive">1</span>
            <!--<span class="pageButton">2</span>
            <span class="pageButton">3</span>
            <span class="pageButton">4</span>
            <span class="pageButton">5</span>
            <span class="pageButton">...</span>
            <span class="pageButton">16</span>-->
            <span class="pageButton" id="nextPage"></span>
            <div class="goAnyPage">
                <span class="goText">跳转</span>
                <input id="pageText" type="text">
                <span id="goButton"></span>
            </div>
        </div>
    </div>
</div>