<div id="nav">
    <ul id="navUl">
        <li class="navIcon">首页 ></li>
        <li class="navIcon">用户监控 ></li>
        <li class="navIcon" id="mieiName">...</li>
    </ul>
</div>
<div id="spInfo">
    <p class="titleHead">根源钻取<span>异常根源 cell 100883458   grid 1567</span></p>
    <div class="userCanvasBlock cf">
        <div id="oneDayErrorUser" class="canvasBlock"></div>
        <div id="oneDayErrorPer" class="canvasBlock"></div>
    </div>
</div>
<div id="sourceInfo">
    <p class="titleHead">体验指标分布变化图</p>
    <div class="userCanvasBlock cf">
        <div id="httpSourceState" class="canvasBlock"></div>
        <div id="callBackSource" class="canvasBlock"></div>
        <div id="displaySourceBack" class="canvasBlock"></div>
        <div id="addMon" class="canvasBlock">
            <div class="addFunction">添加对比指标<br/><span>(只能增加一个)</span></div>
        </div>
    </div>
</div>